# Supabase Configuration
VITE_SUPABASE_URL=https://jppactibstwrieklwacq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpwcGFjdGlic3R3cmlla2x3YWNxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE1ODA5ODcsImV4cCI6MjA4NzE1Njk4N30.F8QJdfwibRue82cGkkRW6n84AfY0doQ0oJ-TFYIAhuA
